.ButtonsContainer { 
     height: 8rem;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
}
.Button{ 
    width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    font-size: 1rem;
    height: 2.5rem ;
    border: none;
    background-color: rgb(47, 121, 190);
    margin-top: 1rem;
    color: white;
    outline: none;
    cursor: pointer;
}
.Button img { 
    height: 2rem;
     width: 2rem;
}


.Button:hover { 
   background-color:rgb(28, 96, 160)
   
}

.ErrorMessage { 
     color: rgb(184, 0, 0);
     font-size: 0.9rem;
     transition: 0.3s;
     height: 1rem;
}