.Logo { 
    color: #14213d;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7rem;
    font-size: 2rem;
    font-family: 'Poller One', cursive;
    transform: translateY(-10%);
}

