#container { 
    display: flex;
    flex-direction: column;
    height: 60%;
    overflow: hidden;
  
}

@media(min-width: 600px) { 
    #container { 
        display: flex;
        flex-direction: column;
        height: 60%;
      
    }
    
    
}
