.Container { 
     height: 100vh ; 
     background-color: rgb(218, 214, 214) ;
     display: flex;
     flex-direction: column;
     align-items: center;
     overflow: hidden;
     
}

.Container .SubContainer { 
    
     
       width: 70rem;
       height: 100%;

 position: relative;
}
.Container  .BackgroundColor { 
     height: 20rem; 
     width: 100%;
         background-color: #fca311;
}

.Container .SubContainer .Form { 
    border-radius: 1rem;
    background-color: #e5e5e5;
    position: absolute;
    left: 50% ;
    transform: translateY(-20%) translateX(-50%);
justify-content: center;
    width: 25rem; 
    height: 25rem  ;
     display: flex;
     flex-direction: column;
     align-items: center;
     
}

@media (max-width: 448px) { 
    .Container .SubContainer .Form { 
        border-radius: 1rem;
        background-color: #e5e5e5;
        position: absolute;
        left: 50% ;
        transform: translateY(-20%) translateX(-50%);
    justify-content: center;
        width: 20rem; 
        height: 20rem  ;
         display: flex;
         flex-direction: column;
         align-items: center;
    }
    .Container .SubContainer .Form  .Forgot {  
        align-self: flex-end;
        margin: 3rem 2rem;
        font-size: 1rem;
        text-decoration: none;
        text-underline-position: above;
        color : rgb(158, 158, 158)
   }
}
.Container .SubContainer .Form .Logo { 
     color: #14213d;
     display: flex;
     justify-content: center;
     align-items: center;
     height: 10rem;
     font-size: 2rem;
     font-family: 'Poller One', cursive;
}

@media (min-height: 900px) { 
    .Container .SubContainer .Form { 
        border-radius: 1rem;
        background-color: #e5e5e5;
        position: absolute;
        left: 50% ;
        transform: translateY(-20%) translateX(-50%);
    justify-content: center;
        width: 30rem; 
        height: 30rem  ;
         display: flex;
         flex-direction: column;
         align-items: center;
     
    }

    .Container .SubContainer .Form input {
        margin: 0.4rem ;  
        border: 0px;
        outline: 0;
        padding: 2rem;
        font-size: 10rem;
        width: 18rem;
        background-color:  #e5e5e5;
        border-bottom: solid 1px rgb(179, 179, 179) ;
        transition: 0.3s;
        
   }
}



.Container .SubContainer .Form  .Forgot {  
     align-self: flex-end;
     margin: 1rem 4rem;
     font-size: 1rem;
     text-decoration: none;
     text-underline-position: above;
     color : rgb(158, 158, 158)
}

.Container .SubContainer .Form button{ 
     width: 10rem;
     border-radius: 0.5rem;
     font-size: 1.2vw;
     height: 3rem ; 
     border: none;
     background-color: #14213d;
     margin-top: 1rem;
     color: white;
     outline: none;
cursor: pointer;
     
    
}


.Container .SubContainer .Form button:hover { 
    background-color: #17284d;
}

.Container .SubContainer .Form .Register { 
  
     margin: 1rem 3rem;
     font-size: 1rem;
     text-decoration: none;
     text-underline-position: above;
     color : rgb(158, 158, 158);
     cursor: pointer;
     display: flex;
     justify-content: center;
     align-items: center;
}

.Container .SubContainer .Form button img { 
   max-width: 70%;
   max-height: 60%;
}
