.Container { 
     height: 100vh ; 
     background-color: rgb(218, 214, 214) ;
     display: flex;
     flex-direction: column;
     align-items: center;
     overflow: hidden;
     
}

.Container .SubContainer { 
       width: 70rem;
       height: 100%;
       position: relative;
}
.Container  .BackgroundColor { 
     height: 20rem; 
     width: 100%;
         background-color: #5abdf7;
}

.Container .SubContainer .Form { 
    border-radius: 1rem;
    background-color: #e5e5e5;
    position: absolute;
    left: 50% ;
    transform: translateY(-20%) translateX(-50%);
justify-content: center;
    width: 22rem; 
    height: 27rem  ;
     display: flex;
     flex-direction: column;
     align-items: center;
     
}
@media(max-width: 412px) { 
    .Container { 
        height: 100vh ; 
        background-color: #e5e5e5 ;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        
   } 
}


@media (min-height: 900px) { 
    .Container .SubContainer .Form { 
        border-radius: 1rem;
        background-color: #e5e5e5;
        position: absolute;
        left: 50% ;
        transform: translateY(-20%) translateX(-50%);
    justify-content: center;
        width: 30rem; 
        height: 30rem  ;
         display: flex;
         flex-direction: column;
         align-items: center;
     
    }  
}



.Container .SubContainer .Form  .ForgotPassword {  
     align-self: flex-end;
     margin: 1rem 4rem;
     font-size: 1rem;
     text-decoration: none;
     text-underline-position: above;
     color : rgb(158, 158, 158)
}





.Container .SubContainer .Form .Register { 
  
     margin: 1rem 3rem;
     font-size: 1rem;
     text-decoration: none;
     text-underline-position: above;
     color : rgb(158, 158, 158);
     cursor: pointer;
     display: flex;
     justify-content: center;
     align-items: center;
}

