#MainContainer { 
     height: 86vh;
}


#FormPublish {
display: flex;
flex-direction: column;
justify-content: space-around;

height:100%;
padding: 1rem;
}

#Input { 
    height: 2rem;
    width: 90%;
    font-size: 1rem;
    padding: 0.5rem;
    outline-color:  rgb(19, 106, 187);
}

#InputTitle { 
    height: 2rem;
    width: 90%;
    font-size: 1rem;
    padding: 0.5rem;
    outline-color:  rgb(19, 106, 187);
}

#InputContato { 
    height: 2rem;
    width: 90%;
    font-size: 1rem;
    padding: 0.5rem;
    outline-color:  rgb(19, 106, 187);
}

#InputPreço { 
    height: 2rem;
    width: 30%;
    font-size: 1rem;
    padding: 0.5rem;
    outline-color:  rgb(19, 106, 187);
}
#Localização { 
    width: 20%;
}

#dados { 
    display: flex;
    outline-color:  rgb(19, 106, 187);
}

#Informações { 
    height: 5rem;
    font-size: 1.2rem;
    padding:1rem;
    width: 88%;
    outline-color:  rgb(19, 106, 187);
}
#Buttons { 
width: 90%;
display: flex;

justify-content: center;
}
#ButtonPublish { 
    background-color:   rgb(19, 106, 187, 69);
    color: white;
    border: none;
    outline: none;
    height: 3rem;
    width: 5rem;
    font-size: 1rem;
    transition: 0.2s;
    cursor: pointer;
}

#ButtonPublish:hover { 
    background-color:   rgb(85, 169, 247);
  
}

#ButtonBack {
    width: 4rem;
    font-size: 1rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(29, 28, 28);
    text-decoration: none;
    border: rgb(153, 153, 153) 1px solid;
}

#SelectOptions { 
    outline-color:  rgb(19, 106, 187);
    height: 2rem;
    margin-right: 1rem;
}
#Tecnologias { 
    height: 2rem;
    font-size: 1rem;
    padding: 0.5rem;
}

@media(min-width: 600px) { 
    #FormPublish { 
        width: 50%;
       
    }
    #MainContainer { 
         display: flex;
         justify-content: center;
    }
}