.ContainerSignup { 
     height: 100vh ; 
     background-color: rgb(218, 214, 214) ;
     display: flex;
     flex-direction: column;
     align-items: center;
     overflow: hidden;
     
}

.ContainerSignup .SubContainerSignup { 
       width: 70rem;
       height: 100%;
       position: relative;
}
.ContainerSignup  .BackgroundColorSignup { 
     height: 20rem; 
     width: 100%;
         background-color:  rgb(47, 121, 190);
}

.ContainerSignup .SubContainerSignup .FormSignup { 
    border-radius: 1rem;
    background-color: #e5e5e5;
    position: absolute;
    left: 50% ;
    transform: translateY(-30%) translateX(-50%);
    justify-content: center;
    width: 19rem; 
    height: 30rem  ;
    padding: 2rem;
     display: flex;
     flex-direction: column;
     align-items: center;
     
}
@media(max-width: 412px) { 
    .ContainerSignup { 
        height: 100vh ; 
        background-color: #e5e5e5 ;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        
   } 
}
@media (min-height: 900px) { 
    .ContainerSignup .SubContainerSignup .FormSignup { 
        border-radius: 1rem;
        background-color: #e5e5e5;
        position: absolute;
        left: 50% ;
        transform: translateY(-20%) translateX(-50%);
    justify-content: center;
        width: 30rem; 
        height: 30rem  ;
         display: flex;
         flex-direction: column;
         align-items: center;   
    }  
}
.ContainerSignup .SubContainerSignup .FormSignup  .ForgotPasswordSignup {  
    align-self: flex-end;
    margin: 1rem 1rem;
    font-size: 1rem;
    text-decoration: none;
    text-underline-position: above;
    color : rgb(158, 158, 158)
}

.ContainerSignup .SubContainerSignup .FormSignup .LinkToLogin { 
    margin: 1rem 3rem;
    font-size: 1rem;
    text-decoration: none;
    text-underline-position: above;
    color : rgb(158, 158, 158);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

