#SearchContainer { 
    height: 12rem;
   padding: 1rem;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
}

#search { 
     height: 3rem;
     width: 70%;
     margin: 0.5rem;
     outline-color: rgb(4, 107, 241);
}

#searchRegião { 
    height: 3rem;
    width: 70%;
    margin: 0.5rem;
    outline-color: rgb(4, 107, 241);
}

#ButtonSearch { 
    background-color: rgb(23, 143, 241);
    border: none;
    color: white;
    padding: 1rem;
}

@media(max-width: 600px) { 
    #SearchContainer { 
        display: none;
    }
}

@media(min-width: 600px) { 
    #SearchContainer { 
        display: flex;
        width: 20rem;
    }

    #search { 
   
        width: 100%;
    
   }
   
   #searchRegião { 
      
       width: 100%;
     
   }
}
