#SearchContainer { 
    display: flex;
    height: 10rem;
   height:100%;
   width: 30%;

    flex-direction: column;
}

#search { 
    height: 2rem;
    width: 90%;
    padding: 0.3rem;
    outline-color: rgba(163, 173, 182, 0.5);
    outline: none;
    font-size: 1rem;
    
}
#searchRegião { 
    font-size: 1rem;
    height: 2rem;
    width: 90%;
    padding: 0.3rem;
    outline-color: rgba(29, 136, 236, 0.5);
    outline: none;
}

#inputs { 
     display: flex;
     margin-top: 20%;
     flex-direction: column;
     justify-content: space-around;
     align-items: center;
     position: relative;
     width: 100%;
}
#ButtonContainer { 
display: flex;
flex-direction: column;
    width: 100%;
    align-items: center;
    height: 140px;
}
#ButtonContainer * { 
     margin-top: 10px;
}

#ButtonSearch { 
 background-color: rgba(29, 136, 236, 0.5);   
 height: 40px;
 width: 40%;
 border: solid 1px black;
 cursor: pointer;
color: black;
font-size: 15px;
padding: 5px;


}
#ButtonSearch:hover{ 
     background-color:rgb(255, 255, 255) ;
     border: solid 1px rgb(5, 80, 151);
     color: rgb(33, 64, 105);
}

#ButtonSearch:active {
 background-color: #ffffff;
}

#ButtonToPublishPage { 
     height: 40px; 
     border: solid 1px black;
     background-color: rgb(9, 248, 168);   
     cursor: pointer;
     width: 37%;
     text-decoration: none;
     display: flex;
     font-size: 15px;
     justify-content: center;
     align-items: center;
     padding: 5px;
color: black; 

}
#ButtonToPublishPage:hover{ 
    background-color:rgb(247, 247, 247) ;
    border: solid 1px rgb(15, 5, 151);
    color: rgb(33, 50, 105);
}


#select { 
     position: relative;
     width: 60%;
     padding: 0.5rem;
     display: flex;
     justify-content: center;
     flex-direction: column;
     position: relative;
     background-color: rgb(255, 255, 255);
    }

#menu { 
    top: 100% ;
    left: 0;
    width: 80%;
    background-color: rgb(6, 67, 124);
    position: absolute;
} 
#menu div  { 
    padding: 0.2rem;
    background-color: rgb(235, 232, 232);
    cursor: pointer;
    transition: 0.2s;
}
#menu div:hover { 
    background-color: rgb(206, 206, 206);

}
.select { 
    height: 2rem;
}