#ContainerContent { 
    height: 100%;

    width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   
}

#VagaItem { 
    padding: 1rem;
    border: rgb(218, 217, 217) 0.5px solid;
    word-wrap: break-word;

    cursor: pointer;
    background-color: white;
    width: 90%;
    margin: 0.2rem;
transition: 0.2s;
}

@media(min-width: 600px) { 
  #VagaItem {  
    width: 60%;
    border-radius: 2rem;
    padding: 2rem;
}
}
#VagaItem:hover{ 
  background-color: rgb(236, 236, 236);

}

#TitleContent { 
  font-size: 1.7rem;
  font-family: "Roboto";
  color: rgb(31, 30, 30);
}

#InfoContent { 
  color: rgb(88, 88, 88) ;
  font-family: "Roboto"; 
}

#TecnologyContent{
  
  color: rgb(9, 74, 196)
}

#ContainerContent::-webkit-scrollbar {
    width: 5px;
    border-radius: 2rem;
  }
  
  /* Track */
  #ContainerContent::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  #ContainerContent::-webkit-scrollbar-thumb {
    background:rgb(167, 167, 167);
  }
  
  /* Handle on hover */
  #ContainerContent::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

#extra { 
   display: block;
   width: 100%;
}

#TypePryce {
  display: block;
  border: solid;
  background-attachment: red;
}