#ContainerContent { 
    height: auto;
    width: 66%;   
}

#VagaItem { 
    padding: 1rem;
    border-bottom: rgb(218, 217, 217) 0.5px solid;
    word-wrap: break-word;
    cursor: pointer;
    background-color: white;
    border-bottom: solid 0.5px rgb(168, 168, 168);

   
}

#VagaItem:hover { 
   border-bottom: solid 0.5px rgb(14, 183, 212);
}

#ContainerContent::-webkit-scrollbar {
    width: 5px;
    border-radius: 2rem;
  }
  
  /* Track */
  #ContainerContent::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  #ContainerContent::-webkit-scrollbar-thumb {
    background:rgb(167, 167, 167);
  }
  
  /* Handle on hover */
  #ContainerContent::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

#extra { 
   display: block;
   width: 100%;
}

#TypePryce {
  display: block;
  border: solid;
  background-attachment: red;
}